<div class="container mb-3">
	<div class="row">
		<div class="col-1">
			<h1><%- post.likes %></h1>
			<% if(locals.logged_in) { %>
				<% if(locals.user.liked.find(v => v == post.id) == undefined ) { %>
					<a href="/api/like_post?post=<%- post.id %>" class="btn btn-primary">+1</a>
				<% } else { %>
					<a href="/api/unlike_post?post=<%- post.id %>" class="btn btn-primary">-1</a>
				<% } %>
			<% } %>
		</div>
		<div class="col">
			<a href="/post/<%- post.id %>">
				<h2><%- post.title %></h2>
			</a>
			<% const author_user = locals.db.users.find(v=>v.id==post.author) %>
			Autor: <%- author_user?.firstname %> <%- author_user?.lastname %>
			<br/>
			Miasto: Not implemented yet! :(
		</div>
	</div>
</div>