<div class="container mb-3">
	<div class="row">
		<div class="col-1">
			<% if(locals.logged_in) { %>
				<% if(locals.user.liked.find(v => v == post.id) == undefined ) { %>
					<a href="/api/like_post?post=<%- post.id %>" class="btn btn-danger"><i class="fa-regular fa-heart like-heart-icon"></i><%- post.likes %></a>
				<% } else { %>
					<a href="/api/unlike_post?post=<%- post.id %>" class="btn btn-danger"><i class="fa-solid fa-heart like-heart-icon"></i><%- post.likes %></a>
				<% } %>
			<% } %>
		</div>
		<div class="col">
			<a href="/post/<%- post.id %>">
				<h2><%- post.title %></h2>
			</a>
			<% const author_user = locals.db.users.find(v=>v.id==post.author) %>
			<i class="fa-solid fa-user"></i> <%- author_user?.firstname %> <%- author_user?.lastname %>
			<br/>
			<i class="fa-solid fa-city"></i> <%= post.city %>
		</div>
	</div>
</div>