<% const post = locals.post ?? {} %>
<%- include("../partials/header") %>

<script src="https://cdn.tiny.cloud/1/fr6kjy3uthc0coft8ony3vo5wdtv9k5xqufxb35pts3gsh2y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector: "textarea#comment_content_ta",
		plugins: "anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tableofcontents footnotes autocorrect",
		toolbar: "undo redo bold italic underline strikethrough | link image media table | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
	});
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<title>Post: <%= post.title %></title>
<div class="container">
    <div class="pb-2 mb-2 border-bottom">
        <h3><%= post.title %></h3>
    </div>
    <div class="pb-2 mb-2">
		<% const author_user = locals.db.users.find(v=>v.id==post.author) %>
		<span class="post-page-stats"><i class="fa-solid fa-user"></i> <%- author_user?.firstname %> <%- author_user?.lastname %></span>
		<span class="post-page-stats"><i class="fa-solid fa-city"></i> <%= post.city %></span>
		<span class="post-page-stats"><i class="fa-solid fa-calendar-days"></i> <%- post.created_at?.toLocaleString("pl-pl") %></span>
    </div>
	<% if (locals.user?.admin == true) { %>
		<div class="pb-2 mb-2 card">
			<div class="card-body">
				<h5 class="card-title">Zarządzenie ogłoszeniem</h5>
				<h6 class="card-subtitle mb-2 text-muted">Opcje administratora</h6>
				<p class="card-text">Użyj przycisków poniżej by zarządzać widocznością tego ogłoszenia</p>
				<a href="/api/delete_post?post=<%= post.id %>" class="btn btn-danger">Usuń ogłoszenie</a>
			</div>
		</div>
	<% } %>
    <div class="pb-2 mb-2">
        <%- locals.xss %>
    </div>
    <div class="pb-2 mb-2">
		<h4 class="border-bottom"><i class="fa-solid fa-comment"></i> Komentarze</h4>
        <% comments.forEach( comment => { %>
			<%- include("../components/comment", {comment: comment}) %>
        <% }); %>
    </div>
	<% if(locals.logged_in) { %>
		<div class="pb-2 mb-2">
			<h4 class="border-bottom">Zostaw nowy komentarz</h4>
			<form action="/api/add_comment" method="post">
				<input type="hidden" name="post_id" value="<%- post.id %>">
				<div class="mb-3">
					<textarea name="content" id="comment_content_ta" placeholder="Treść komentarza"></textarea>
				</div>
				<div class="g-recaptcha" data-sitekey="6LfhM4MiAAAAAHfLrTt_b02N-At25y5_57PmVsFJ"></div>
				<button class="btn btn-primary" type="submit">Wyślij</button>
			</form>
		</div>
	<% } %>
</div>
<%- include("../partials/footer") %>